.topbar{
  display: block;
  padding: 15px 20px;
}

.sidebar {
  width: 50px;
  vertical-align: middle;
  overflow-x: hidden;
  margin-left: 5px;


  .buttons {
    display: flex;
    align-items: center;
    place-items: center;

    padding: 10px 20px;
    border-radius: 20px;
    width: 150px;

    &:hover{
      background: rgba(2,2,2,0.8);
      color: #fff;
    }

    span {
      margin-left: 15px;
    }
  }
}
