.sidebar {
  width: 50px;
  vertical-align: middle;
  overflow-x: hidden;


  .buttons {
    display: flex;
    align-items: center;
    place-items: center;

    padding: 10px 20px;
    border-radius: 20px;
    width: 120px;

    &:hover{
      background: grey;
      color: #fff;
    }

    span {
      margin-left: 15px;
    }
  }

  // Style adjustments for icons

  :global(.discussion-icon){
    stroke-width: 2.8;
    width: 26px;
    margin-left: 0px;
  }
}
