.index{
  display: block;
  text-align: center;

  h1{
    font-size: 56px;
    opacity: 75%;
    color: #ff4400;
  }

  img{
    margin: 0 auto;
    height: 50vh;
  }

  p{
    font-size: 22px;
    opacity: 90%;
  }
}