@use "normalize";

// Global styles for all of the app.
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", Helvetica, sans-serif;
  font-weight: 500;
}

svg {
  font-family: initial;
}

a {
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
  fill: none;
}
